.completed {
    text-decoration: line-through;
    background-color: rgba(0, 0, 0, 0.6);
}

.item {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.listWrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.formList {
    display: flex;
    justify-content: center;
}

.btn{
    margin: 5px;
    background-color: green;
    color: white;
    border-radius: 10px;
}

.del {
    background-color: red;
}